@import '../../scss/_mixins';

.LandingOptions {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;

  flex-direction: column;
  align-items: center;

  // center vertical on the page
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);


  @media screen and (min-width: 800px) {
    // margin: 0.5em 0em;
    max-width: 90vw;
    // min-height: 350px;
    // position: relative;
    flex-direction: row;

    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

  div{
    width: 80%;
    // height: 200px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;

    margin-top: 30px;

    // @media screen and (min-width: 800px) {
      
    // }
  }

  a{
    // background-color: red;
    max-width: 100%;
    max-height: 100%;
    display: block;


    img {
      max-width: 100%;
      max-height: 100%;
      // display: block;
      object-fit: cover;
      // height: auto;
  
      // height: auto;
  
      // animation: fade-in-vertical-zoom-pan 4s ease-in-out 0s forwards;
      // border: 1px solid black;
    }
  }

  .img-container {
    border: 1px solid black;
    height: 30vh;
    // max-height: fit-content;


    // if screen wider than 800px
    @media screen and (min-width: 800px) {
      margin: 0.5em 0em;
      max-width: 90vw;
      height: 400px;
      line-height: 0;
      background-color: red;
      // min-height: 350px;
    }
  }
}
