@import '../../scss/_mixins'; 


.App {
  // box-sizing: border-box;
  // border: 1px solid black;
}


.App__main {
  // border: 1px orange solid;
  // color: red;
  transition: all .3s linear;
  @include themed(){
    background-color: themed('backgroundColor');
    color: themed('textColor');
    border-color: themed('borderColor');
  }
  
}

.App__main *{
  border-color: inherit;
}

.page{
  margin: 10px;
}