// @import '../../scss/_mixins';
@import '../../scss/_variables';


.Header {
  display: flex;
  flex-flow: row wrap;
  // padding: 10px;

  .header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .3em .3em 0 .3em; 
    border-bottom: 2px solid;
    padding: 10px;

    .logo {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.3em;
      text-transform: uppercase;
      // letter-spacing: 1px;
      span:nth-of-type(1) {
        font-size: 1.3em;
        font-weight: bold;
      }
      span:nth-of-type(2){
        display: inline-flex;
        align-items: center;
      }
    }

    .right {
      display: flex;
    }
  }

  .line-break {
    // width: 100%;
  }

  overflow: hidden;

  .menu-drop-down {
    transition: max-height $navTransTime linear;
    max-height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: -2px;
    border-bottom: 2px solid;
    border-color: inherit;
    font-size: 1.4em;

    // .menu-item {
    //   font-size: 1.4em;
    //   overflow: hidden;
    //   line-height: 52px;
    // }

  }
  .hidden{
    transition: max-height $navTransTime linear;
    // overflow: hidden;
    max-height: 0;
  }
}
