.ThemeToggle{
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-top: 2px;
  .Moon{
  }

  .Sun{
  }
  .sun-moon{
    // overflow: hidden;
    float: right;
    height: 40px;
    width: 40px;
    transition: transform .3s linear;
  }
  
  .sun-moon.day{
    transform: translateY(-98%);
  }

  .sun-moon.night{
    transform: translateY(12%);
  }
}