@import '../../scss/_mixins';

.ImageList {
  display: flex;

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // align-items: center;
    justify-content: space-evenly;

  }

  img {
    max-width: 100%;
    height: auto;
    // object-position: 50% 25%;
    // object-fit: cover;
    // transform-origin: 15% 20%;

    // animation: zoom-out 2s ease-in-out 0s forwards;
    animation: fade-in-vertical-zoom-pan 4s ease-in-out 0s forwards;

    border-top: 1px solid;
    border-bottom: 2px solid;

    @media screen and (min-width: 800px) {
      @include themed() {
        border-left: 1px solid themed('textColor');
        border-right: 1px solid themed('textColor');
      }
    }
  }

  .img-container {
    overflow: hidden;
    line-height: 0;
    // width: 100vw;

    // border-top: 1px solid;
    // border-bottom: 2px solid;

    margin: 0.1em 0em;
    // margin: 0;

    // padding-left: 50%;

    @media screen and (min-width: 800px) {
      // @include themed() {
      //   border-left: 1px solid themed('textColor');
      //   border-right: 1px solid themed('textColor');
      // }
      margin: 0.5em 0em;
      max-width: 90vw;
      min-height: 350px;
    }
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-vertical-zoom-pan {
  0% {
    opacity: 0;
    // transition: transform .5s ease-in-out;
    transform: scale(1.4);
    transform-origin: top left;
  }
  15% {
    opacity: 100%;
  }
  100% {
    transform: scale(1);
  }
}
